* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;
    border: 1px solid black;        ----> nem tudom ki volt, de sajátjánál állítgasson, ne mindenkiénél... class-okat használjunk*/
}
body {
    background: rgb(174,232,238);
    background: radial-gradient(circle, rgba(174,232,238,1) 0%, rgba(232,229,188,1) 100%);
}
nav ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
}


main{
   margin: auto;
   /*width: 80%;   ----> nem tudom, h ez ki volt, de csak a sajátjánál állítsa be, használjunk class-okat...*/
}
#kepregeny{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: flex-start;
  align-items: flex-start;
  align-content: stretch;
}
#sor1{
  flex: 0 0 100%;
 
}
#sor1 img{ 
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
#keptarolo{

  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
