* {
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;
    border: 1px solid black;        ----> nem tudom ki volt, de sajátjánál állítgasson, ne mindenkiénél... class-okat használjunk*/
}
body {
  background: rgb(174, 232, 238);
  background: radial-gradient(
    circle,
    rgba(174, 232, 238, 1) 0%,
    rgba(232, 229, 188, 1) 100%
  );
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* form.html kezdet  */
.formBody {
  box-sizing: border-box;
}
.formMain {
  max-width: 80%;
  border: 3px solid black;
}

.formHeader {
  text-align: center;
  height: 50px;
  border-bottom: 3px solid black;
  font-family: cursive;
}
fieldset {
  border: 1px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

legend {
  font-family: cursive;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  gap: 10px;
  justify-content: space-between;
}
.formGroup {
  flex: 0 0 calc(33.33% - 10px);
  font-family: cursive;
}
.formGroup:last-child {
  margin: auto;
  text-align: center;
}

.kuldesGomb {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formFooter {
  text-align: center;
  height: 50px;
  font-family: cursive;
}

/* form.html vege */

.container {
  display: flex;
  justify-content: space-evenly;
}

main {
  margin: auto;
  /*width: 80%;   ----> nem tudom, h ez ki volt, de csak a sajátjánál állítsa be, használjunk class-okat...*/
}
#sor1 {
  border: 5px solid black;
  padding: 20px;
  margin-bottom: 10px;
  flex: 0 0 100%;
}
#sor2 {
  border: 5px solid black;
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  align-content: stretch;
  flex: 0 0 50%;
}
#sor3 {
  border: 5px solid black;
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  align-content: stretch;
  flex: 0 0 33%;
}
#sor1 img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
#sor2 img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
#sor3 img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
#sor4{
  justify-content: center;
}
#keptarolo {
  margin: 10px;
  width: 100%;
  border: 5px solid black;
  overflow: hidden;
}
.keptarolo2 {
  margin: 10px;
  align-self: stretch;
  width: 50%;
  border: 5px solid black;
  overflow: hidden;
}
.keptarolo3 {
  border: 5px solid black;
  margin: 10px;
  align-self: stretch;
  width: 33%;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  /* form reszponziv */
  nav ul {
    flex-direction: column;
  }
  .formContainer {
    flex-direction: column;
    font-size: 75%;
  }
  fieldset {
    border: none;
  }
  #ertekelesIras {
    width: 50%;
  }
  .formFooter {
    font-size: 50%;
  }
  .formHeader {
    font-size: 50%;
  }

  /* form reszponziv vége */
}

/*Viki - mas NE nyuljon bele*/

.containerV {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
}
.mesek {
  flex-basis: 300px;
  align-items: center;
}
.meseHeader {
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.meseFooter {
  justify-content: center;
  align-items: flex-end;
  margin-top: 10%;
}
.meseNav {
  border-bottom: 1px solid grey;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.cim {
  margin-bottom: 3%;
  text-align: center;
}
.meseszov {
  text-align: justify;
}

/*Viki - vege*/
