* {
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;
    border: 1px solid black;        ----> nem tudom ki volt, de sajátjánál állítgasson, ne mindenkiénél... class-okat használjunk*/
}
body {
  background: rgb(174, 232, 238);
  background: radial-gradient(
    circle,
    rgba(174, 232, 238, 1) 0%,
    rgba(232, 229, 188, 1) 100%
  );
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }


nav ul li a {
  text-decoration: none;
  color: black;
}


/* form.html kezdet  */
.formBody{
  box-sizing: border-box;
}
.formMain {
   max-width: 80%;
   border: 3px solid black;
   
  }
  
  .formHeader {
    text-align: center;
    height: 50px;
    border-bottom: 3px solid black;
    font-family: cursive;
    
  }
  fieldset {
    border: 1px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }

  legend {
    font-family: cursive;
   

  }
  
  .formContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    gap: 10px;
    justify-content: space-between;
  
}
.formGroup {
  flex: 0 0 calc(33.33% - 10px);
  font-family: cursive;
  
}
.formGroup:last-child {
  margin: auto;
  text-align: center;
}


.kuldesGomb{
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.formFooter {
  text-align: center;
  height: 50px;
  font-family: cursive;
  
}

/* form.html vege */

.container {
    display: flex;
    justify-content: space-evenly;
}


main {
  margin: auto;
  /*width: 80%;   ----> nem tudom, h ez ki volt, de csak a sajátjánál állítsa be, használjunk class-okat...*/
}
#kepregeny {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: flex-start;
  align-items: flex-start;
  align-content: stretch;
}
#sor1 {
  flex: 0 0 100%;
}
#sor2 {
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  align-content: stretch;
  flex: 0 0 50%;
}
#sor3 {
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  align-content: stretch;
  flex: 0 0 33%;
}
#sor1 img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
#sor2 img {
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
#sor3 img {
  width: 33%;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
#keptarolo {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
.keptarolo2 {
  align-self: stretch;
  width: 50%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
.keptarolo3 {
  align-self: stretch;
  width: 33%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
 /* form reszponziv */
  nav ul {
    flex-direction: column;
  }
  .formContainer {
    flex-direction: column;
    font-size: 75%;
  }
  fieldset {
    border: none;
  }
  #ertekelesIras {
    width: 50%;
  }
  .formFooter {
   font-size: 50%;
    
  }  
  .formHeader {
    font-size: 50%;
  }


/* form reszponziv vége */
}